{% extends "base.html" %}

{% block content %}

<div class="max-w-xl mx-auto py-16">

    <div class="bg-white rounded-3xl shadow-lg p-10">

        <h1 class="text-3xl font-bold mb-8">

            Change Password

        </h1>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                class="mt-6 w-full bg-indigo-600 hover:bg-indigo-700 text-white py-3 rounded-xl font-semibold">

                Save Password

            </button>

        </form>

    </div>

</div>

{% endblock %}